.input-group {
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
}

.input-group__label {
    font-weight: 500;
    margin: 0 0 0.5rem 0;
}

.input-group__field {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 0.25rem;
    max-width: 50ch;
}
