.navigation {
    padding: 1rem;
    background: #e2e2e2;
}

.navigation__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation_item {
    display: inline-block;
    padding: 0 1rem 0 0;
}

.navigation__link {
    color: #000;
    display: inline-block;
    font-size: 1.15rem;
    text-decoration: none;
    padding: 1rem;
}

.navigation__link:hover {
    text-decoration: underline;
}
